@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

main {
  padding: 20px;
  padding-top: 0px;
}

button:disabled {
  opacity: 0.5;
}

a.panel-title {
  color: #18bc9c;
}

.navbar {
  border-radius: 2px;
}

.navbar-default .navbar-brand {
  color: #18bc9c;
}

.rbt-input:hover {
  cursor: text;
}

.navbar-default input[type='text'] {
  min-width: 200px;
}

.LandingPageWrapper {
  padding: 10px;
}

.LoadingCircle {
  color: #22BEA0;
  transition: .5s visibility;
}

.LoadingCircleWrapper {
  background-color: transparent;
  border: none;
}

.SubmitButton {
  border-radius: 2px;
  padding: 12px 18px;
}

.TopNavbar {
  background-color: transparent;
}

.SearchBar {
  padding-left: 0;
  margin-top: 10px;
}


a.dropdown-item:hover {
  background: #ECF0F1;
}

a.dropdown-item > .tournament-result > a:hover {
  text-decoration: none;
}
