@media (min-width: 992px) {
  .TournamentsSummaryRow > .TournamentSummaryCol:first-child {
    padding-left: 0px;
  }
  
  .TournamentsSummaryRow > .TournamentSummaryCol:last-child {
    padding-right: 0px;
  }
}

@media (max-width: 991px) {
  .TournamentsSummaryRow > .TournamentSummaryCol {
    padding-left: 0px;
    padding-right: 0px;
  }
}